<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <%- include('./navbar.ejs',{}) %>

    <div class="container">
      <h1>tweets</h1>

      <form action="/tweets" method="post">
        <input class="form-control" type="text" placeholder="Enter your tweet here" name="body">
        <button class="btn" type='submit'>Tweet</button>
      </form>
      <ul>

        <li>
          <a href="/tweets">/tweets</a>
        </li>
        <li>
          <a href="/list">/list</a>
        </li>
        <li>
          <a href="/api">/api</a>
        </li>
        <li>
          <a href="/api/list">/api/list</a>
        </li>
      </ul>

    </div>

</body>

</html>